# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Dependencies
node_modules/

# Build artifacts
dist/
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
/vendor
Gemfile.lock

# Temp
*.tmp
*.log
